nav.navbar {
    justify-content: space-around;
    align-items: center;
    background-color: #e3f2fd;
    margin-bottom: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.form-inline {
    display: flex;
    margin-left: auto;
    margin-right: 55px;
}

.mainIcon {
    width: 30px;
    
}

.navbar-brand {
    display: flex;
    margin-left: 55px;
    align-items: center;
}

